#include "skeletyl-layout.dtsi"
#include <dt-bindings/zmk/kscan.h>

/ {
    chosen {
        zmk,keyboard = &skeletyl;
        zmk,kscan = &kscan;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "Skeletyl KSCAN";

        input-gpios = <
            &gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
        >;
    };

    skeletyl: keyboard {
        compatible = "zmk,keyboard-gpio";
        label = "Skeletyl";
    };
};
